---
title: Welcome
desc: First day of class
homework: 1) Pre`work
cat: fundamentals
---
<%= include_topic :slogan %>

<%= homework_hdr %>

<%= callout("Note for first day of class:", " Each day of class has a page on this web site. The first section of that page is always the homework due on that very day. So in other words, the homework listed here is actually 'pre-work' for day one. We will go over this in a little more detail during class.") %>

1. Be prepared by doing all the pre-work: <%= link_to_topic :cosi119a_prework %>
   1. Learn Linux
   1. Learn Python
   1. Learn Command Shell

#### Welcome!

##### Introduction
* Robotics is fun!
* Computer Science meets Software Engineering meets Math
* You don't have to be an expert in all (or any)
* Very few Cosi courses involve hardware!
* History of this course
* How is it different this semester?
* Demo Of a Real Robot from last semester!

##### Overall Big Picture Goal
* Our grand vision: <%= link_to_topic :campus_rover %>
* Why it's interesting and why it's hard
* Discuss Mark1 and begin thinking about Mark2
* Why I am excited about this course

##### Overall Course Structure
* Two lectures + 1 Lab
* Lots of out-of-classroom work
* Latte vs. This web site
* <%= link_to_intro :knowledge_map %>
* **<a href="http://cosi119a.s3-website-us-west-2.amazonaws.com/">Review Syllabus</a>**
* Tour of this web site

##### How homeworks work
* **<%= link_to_topic :homework%>**

##### NB (Remember)
* You're expected to be at your lab every week
* Can I rely on Slack to communicate? Will we be able to reach each other?
* [ALERT] emails

##### Final Projects
* The last 4 weeks
* 1-4 students
* Goal and deliverables agreed upon before then
* Counts for major part of the grade
* More information about projects can be found here: <%= link_to_section :lab, :project_list %>

##### Our Lab
* Take a look at Lab set up 
* Our Robot platforms
* How to use the 3 hour block
* Take a look together at the web site
* Take a look at github together
* Discuss <%= link_to_topic :lab_rules %>

#### Next Class

* Look at homework: <%= link_to_next_lecture %>