---
title: How do robots perceive
desc: Sensors of various kinds are essential to robotics
homework: 1) Read paper
cat: fundamentals
---
<%= include_topic :perceive %>

<%= homework_hdr %>

1. <%= pdfbadge %> <%= partbadge %> Read [Real Robots Don't Drive Straight.](https://www.aaai.org/Papers/Symposia/Spring/2007/SS-07-09/SS07-09-020.pdf). After reading the article try and answer the following warmup questions:
   1. In naval navigation there is a term *dead reconning*. Explains what this means and how it relates if at all to the paper.
   1. So why then do real robots not drive straight?
   1. Please mention two concepts or topics or ideas that didn't make sense to you and your major take-away(s)
<%= deliverable "Answer the warmups and submit as a pdf" %>
1. **Read and listen**: Here's a good article and podcast that talks about why it may be useful to learn to be a ROS developer: [Why Learn ROS?](http://www.theconstructsim.com/why-learn-ros-my-ros-story/) and [Why Do We Need to Learn ROS?](http://www.theconstructsim.com/why-do-we-need-to-learn-ros/)
1. <%= zipbadge %> Do the following homework assigment: <%= link_to_topic :hw_ros_programming %>. Review the detailed instructions. <%= deliverable "See instructions" %>. You absolutely cannot wait till the last minute to do this one. It will take multiple hours, review of the book and some googling. But you can do it!

#### Discussion
* Remember: don't type in code from the book, use the code I provide in prrexamples (which is should be set up on your SSD install.)
* Discuss the other homework

#### How do Robots Perceive?

* Sensors are essential
   * What is a sensor? <span class="question">Is a sensor an input or output device?</span>
   * What happens to the sensing information
   * How is it stored and detected and acted upon?

* Example: Lidar
   * What is a Lidar
   * What does it look like and how does it work?
   * "Time of travel" detector
   * What does the data look like? 
      * [Look here fore the message definition](http://docs.ros.org/melodic/api/sensor_msgs/html/msg/LaserScan.html)
      * `rostopic echo --noarr -c /scan`
      * `roslaunch turtlebot3_gazebo turtlebot3_gazebo_rviz.launch`

* Show code example of Lidar data: 
   * Jupyter Notebook: ScanData Logger
   * Start roscore, gazebo and rviz
      * `roslaunch turtlebot3_gazebo turtlebot3_gazebo_rviz.launch`
      * `roslaunch turtlebot3_gazebo turtlebot3_gazebo_world.launch`
   * Also look at rqt_chart

* Subtleties:
   * What do the directions mean?
   * Are the directions absolute or relative?
   * What if the robot is not pointing to where you think?
   * Do they go clockwise or counterclockwise?
   * Lets look at the data!
   * It's not clean! (This is typical for all sensors)
   * It is not accurate!
   * It's sometimes wildly inaccurate
   * It is constantly flooding in

* Types of Sensors
   * Is a sensor an input or output device?
   * Is a keyboard a sensor?
   * Is a joystick a sensor?
   * Is a map a sensor?
   * Active Vs. Passive
   * Sensor Fusion

* Lidar
   * History
   * How it works
   * Key characteristics or features
   * What data it provides

* Motor (encoder)
   * How it works
   * Key characteristics or features
   * What data it provides

* Camera
   * How it works
   * Key Characteristics or features
   * What Data it provides

* Depth Camera
   * How it works
   * Key Characteristics or features
   * What data it provides

* Sonar
   * How it works
   * Key Characteristics or features
   * What data it provides

* Bump sensors
   * How it works
   * Key Characteristics or features
   * What data it provides

* Magnetometer, barometer, accelerometer
   * How it works
   * Key Characteristics or features
   * What data it provides

* GPS
   * How it works
   * Key Characteristics or features
   * What data it provides

#### Next Class
* Look at homework: <%= link_to_next_lecture %>

