<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title><%= COURSE_SHORT_NAME %></title>
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.7.0/css/reveal.min.css" integrity="sha512-eBk2quAsZkp0QA8hrvHHF2jMPKn8rJopq1O5O4oAnKJqy+o432sqgwejRGpvKcnmGgQf/VqcKMFcNT+RHRLlyw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.7.0/css/theme/black.min.css" integrity="sha512-dtJHRoPZw3nnoZr5RFxvct/LQ0f6V2xiKZByz0os6T0RundMWcLeN7NwoYHo0uCUn4OghniNi9+m9FiYeHttAQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <!--[if lt IE 9]>
  <script src="https://unpkg.com/reveal.js@4.0.2/lib/js/html5shiv.js"></script>
  <![endif]-->

  <!-- Custom CSS -->
  <link rel="stylesheet" href="/bootstrap/css/customslides.css">

  <style>
    .scrollable {
      bottom: 0;
      overflow-y: auto  !important;
      overflow-x: hidden !important;
    }

    <% SLIDES_CONFIG[:ignore_selectors].each do |s| %>
    .slides <%= s %> {
      display: none;
    }
    <% end %>
  </style>


  </head>

<body>
<div class="reveal">
  <div class="slides">
    <section data-markdown data-separator="^<slide_break></slide_break>" class="scrollable">
      <textarea data-template>
        <%= yield %>
      </textarea>
    </section>
  </div>
</div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.7.0/js/reveal.min.js" integrity="sha512-47qp+bUV262nwngjB+lBR1txpTKevoQKlz3d1+0uvu6Zly3Q+Y+tR19xDDk4NnutJ9vu6uojPXQS4S3sOB06qw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<!-- Plugins -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.7.0/plugin/highlight/highlight.js" integrity="sha512-KajdeBnB+EkQSLjoqtSEshAxmUaTDUsOmeS7MWgP3KagyrUOLYs/tG14PR8eVZxUeH/NxXfQQ2+lReqUGOMJZA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.7.0/plugin/markdown/marked.js" integrity="sha512-nmDoJm4rqyUPCS8z/Og0Q4+Y8fPw2WwzJd2/IkkWz9VIB1c73teptCxq3BAGVHb+7Afu4uMLkL0oZHzbg9IK7w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.7.0/plugin/markdown/markdown.min.js" integrity="sha512-jcUSwFXO5D89NVE5MYRiU8qeefnjcPYIZV1+PnwQLXgW7xt19ryIr5epOSvPCDrtPMwc/m2zUjRp23Z97sl8ZQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script>
    // Full list of configuration options available at:
    // https://github.com/hakimel/reveal.js#configuration
    Reveal.initialize({
        minScale: 0.2,
        maxScale: 1.4,

        markdown: {
            breaks: true
        },

        <% SLIDES_CONFIG[:revealjs_opts].each do |k, v| %>
        <%= k %>: <%= v.to_json %>,
        <% end %>

        // Optional reveal.js plugins
        plugins: [ RevealMarkdown ]
    })


    </script>



</body>
