<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title><%= COURSE_SHORT_NAME %></title>
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/5.0.0/reveal.min.css" integrity="sha512-TBid8hOqczVxWUXQU5qvzVuui6s+TLG5FUeXNHKXzdDMHL7E3kDn3e0wetnk3+Rto9VGlSNYVsyWTEYoxqBJzQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/5.0.0/theme/black.min.css" integrity="sha512-B1sAcZ4KSpvbIUUvxaoqy56z88d6fozQyEV54K0gVBUMDMcVu9CAXMwJ5wTWo650j3IQH6yDEETiek6lrk/zCw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  

  <!--[if lt IE 9]>
  <script src="https://unpkg.com/reveal.js@4.0.2/lib/js/html5shiv.js"></script>
  <![endif]-->

  <!-- Custom CSS -->
  <link rel="stylesheet" href="/bootstrap/css/customslides.css">

  <style>
    .scrollable {
      bottom: 0;
      overflow-y: auto  !important;
      overflow-x: hidden !important;
    }

    <% SLIDES_CONFIG[:ignore_selectors].each do |s| %>
    .slides <%= s %> {
      display: none;
    }
    <% end %>
  </style>


  </head>

<body>
<div class="reveal">
  <div class="slides">
    <section data-markdown data-separator="^<slide_break></slide_break>" class="scrollable">
      <textarea data-template>
        <%= yield %>
      </textarea>
    </section>
  </div>
</div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/5.0.0/reveal.min.js" integrity="sha512-BteOrv/3puAX6pddFoM7BvzFur+ksfk7ffHGwy4rz7nXZBhUiM5jkaCW/81YQtwIHDa064YkkS9ftDQ6lNfXfA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<!-- Plugins -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/5.0.0/plugin/markdown/markdown.min.js" integrity="sha512-guKTp0XUnqVXjZtsa2+zQ8KVYoHjYM/MvoBlLiypVudmshBfMg0SeglTcPJGeRAqPyMp1Tcyu8+APV842XNB1Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/5.0.0/plugin/markdown/plugin.min.js" integrity="sha512-MBzNjxlVTLeMKVnrRdiC3il7oz2T6B0EUzWlL4dspON9GrVfAHdEg2Xod1bltRNPvhCxR3vE4wQ67gg1Zc4xJA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script>
    // Full list of configuration options available at:
    // https://github.com/hakimel/reveal.js#configuration
    Reveal.initialize({
        minScale: 0.6,
        maxScale: 2.0,
        width: 1024,

        markdown: {
            breaks: true
        },

        <% SLIDES_CONFIG[:revealjs_opts].each do |k, v| %>
        <%= k %>: <%= v.to_json %>,
        <% end %>

        // Optional reveal.js plugins
        plugins: [ RevealMarkdown ]
    })


    </script>



</body>
